auto-install-peers=true
strict-peer-dependencies=false

# CodeArtifact registry for @zsd packages
@zsd:registry=https://zsd-237750430624.d.codeartifact.eu-central-1.amazonaws.com/npm/packages/
//zsd-237750430624.d.codeartifact.eu-central-1.amazonaws.com/npm/packages/:always-auth=true